{
  "log": {
    "_recordingName": "fetch-metrics",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3a24f17aa1fd7fa1069a3417de01aa20",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=----LangSmithFormBoundaryxb6ivm0ixc"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=----LangSmithFormBoundaryxb6ivm0ixc",
            "params": []
          },
          "queryString": [],
          "url": "https://api.smith.langchain.com/runs/multipart"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "{\"message\":\"Runs batch ingested\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-accel-expires",
              "value": "0"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 30381,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
