<% content_for :title, "Langgraph Authentication" %>
<% content_for :subtitle do %>
    Learn how to authenticate from the Langgraph Application -> Rails Application
<% end %>

<%= h2_with_anchor "Overview" %>

<ol>
    <li>User logs into their account, and has a valid JWT set via `refresh_jwt`</li>
    <li>User is logged into a particular account, which they can switch at any time</li>
    <li>The JWT and account ID are passed to the frontend via `inertia_share` in the `SubscribedController`</li>
    <li>The frontend receives the JWT and account_id, and proxies them along with requests to Langgraph via `useStream` React hook (inside `useLanggraphContext`)</li>
    <li>Frontend also stores these in the `pageStore` for futher usage</li>
    <li>Langgraph receives these JWT + account_id in state, and makes requests via the RailsApi service helper</li>
    <li>Rails backend receives the `JWT` and `account_id` and authenticates the user, then authenticates the session as belonging to a particular account</li>
    <li>Request succeeds</li>
</ol>

<%= h2_with_anchor "Test Authentication" %>

<ol>
    <li>Langgraph makes a request to RailsApi</li>
    <li>This is decorated with `X-Test-Mode: true` and `X-Test-Proof: <proof>`, which contains a timestamp and signature indicating that the request came from a valid server</li>
    <li>RailsApi allows any request properly decorated with `X-Test-Mode: true` and `X-Test-Proof: <proof>` to represent a valid user, AS LONG AS the Rails server is also in test mode</li>
    <li>Request succeeds</li>
</ol>