VITE_LOG_LEVEL=debug
VITE_LANGGRAPH_API_URL=http://localhost:2024
VITE_LANGGRAPH_ASSISTANT_ID=router
VITE_ENV=development
R2_ENDPOINT=abcd
R2_ACCESS_KEY_ID=efg
R2_SECRET_ACCESS_KEY=hijk
R2_REGION=abc
CLOUDFLARE_BLOCKED_DOMAINS_LIST_ID=090cda6998554527bf656fac18efebda
ATLAS_BASE_URL=http://localhost:8788
# ATLAS_BASE_URL=https://admin.abeverything.com
ATLAS_API_SECRET=secret
DB_HOST=localhost
LANGGRAPH_API_URL=http://localhost:8080