{
  "log": {
    "_recordingName": "unknown-node-execution",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "875f8be9e1dff65ac64ac55f68a08ce2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.smith.langchain.com/info"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 817,
            "text": "{\"version\":\"0.12.40\",\"instance_flags\":{\"blob_storage_enabled\":true,\"blob_storage_engine\":\"S3\",\"dataset_examples_multipart_enabled\":true,\"examples_multipart_enabled\":true,\"experimental_search_enabled\":false,\"generate_ai_query_enabled\":true,\"gzip_body_enabled\":true,\"org_creation_disabled\":false,\"payment_enabled\":true,\"personal_orgs_disabled\":false,\"playground_auth_bypass_enabled\":false,\"s3_storage_enabled\":true,\"search_enabled\":true,\"self_hosted_jit_provisioning_enabled\":true,\"show_ttl_ui\":true,\"trace_tier_duration_days\":{\"longlived\":400,\"shortlived\":14},\"workspace_scope_org_invites\":false,\"zstd_compression_enabled\":true},\"batch_ingest_config\":{\"use_multipart_endpoint\":true,\"scale_up_qsize_trigger\":1000,\"scale_up_nthreads_limit\":16,\"scale_down_nempty_trigger\":4,\"size_limit\":100,\"size_limit_bytes\":20971520}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-accel-expires",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 92,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
