LANGSMITH_TRACING=true
LANGSMITH_PROJECT=default
POSTGRES_URI=postgresql://postgres:postgres@localhost:5432/nichefinder_development
POSTGRES_URI_CUSTOM=postgresql://postgres:postgres@host.docker.internal:5432/nichefinder_development # For Docker
REDIS_URL=redis://localhost:6379
REDIS_URI_CUSTOM=redis://host.docker.internal:6379 # For Docker
VITE_LOG_LEVEL=debug # debug, info, warn, error
GROQ_API_KEY=key
OPENAI_API_KEY=key
ANTHROPIC_API_KEY=key
LANGSMITH_API_KEY=key
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LLM_PAID=paid # paid or free
ALLOWED_HOSTS=localhost:3000,127.0.0.1:3000 # Which hosts are allowed to talk to the Langgraph API?
JWT_SECRET=key # Should be same as in rails credentials:edit --environment=development
RAILS_API_URL=http://localhost:3000 # Where should we send requests to the Rails API?
USE_CACHE=true # Whether to use node caching (ONLY true in development)
CACHE_TTL=86400 # How long to cache nodes (in seconds)
# NODE_OPTIONS=--inspect-brk # When using langdev dev, this will pause the process at breakpoints