{
  "log": {
    "_recordingName": "build-context",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1c7dc834c1bd6eee4e4d2599d7c656fc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "multipart/form-data; boundary=----LangSmithFormBoundaryr1slxn8dr7n"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=----LangSmithFormBoundaryr1slxn8dr7n",
            "params": []
          },
          "queryString": [],
          "url": "https://api.smith.langchain.com/runs/multipart"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"error\":\"Forbidden - no plan found\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-accel-expires",
              "value": "0"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 60,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
