@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

/* @plugin "@tailwindcss/aspect-ratio"; */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));
@variant hotwire-native (html.hotwire-native &);
@variant not-hotwire-native (html:not(.hotwire-native) &);

@theme {
  --font-sans:
    "Plus Jakarta Sans", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "IBM Plex Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --color-primary: var(--bg-primary);
  --color-background: #fafaf9;
}

@import "./themes/dark.css" layer(theme);
@import "./themes/juicy.css" layer(theme);
@import "./themes/light.css" layer(theme);
@import "./themes/jumpstart-dark.css" layer(theme);
@import "./themes/jumpstart.css" layer(theme);

@import "./components/base.css" layer(components);
@import "./components/actiontext.css" layer(components);
@import "./components/alert.css" layer(components);
@import "./components/animation.css" layer(components);
@import "./components/announcements.css" layer(components);
@import "./components/avatars.css" layer(components);
@import "./components/buttons.css" layer(components);
@import "./components/cards.css" layer(components);
@import "./components/direct_uploads.css" layer(components);
@import "./components/docs.css" layer(components);
@import "./components/forms.css" layer(components);
@import "./components/hotwire_native.css" layer(components);
@import "./components/iframe.css" layer(components);
@import "./components/modal.css" layer(components);
@import "./components/nav.css" layer(components);
@import "./components/notifications.css" layer(components);
@import "./components/pagination.css" layer(components);
@import "./components/pills.css" layer(components);
@import "./components/tabs.css" layer(components);
@import "./components/toasts.css" layer(components);
@import "./components/tooltips.css" layer(components);
@import "./components/top_nav.css" layer(components);
@import "./components/typography.css" layer(components);
@import "./components/wells.css" layer(components);
@import "./components/braintree.css" layer(components);
