LANGSMITH_TRACING=true
LANGSMITH_PROJECT=default
LANGSMITH_API_KEY=key
ANTHROPIC_API_KEY=key
POSTGRES_URI=postgresql://postgres:postgres@host.docker.internal:5432/nichefinder_development
REDIS_URL=redis://host.docker.internal:6379
VITE_LOG_LEVEL=debug
GROQ_API_KEY=key
OPENAI_API_KEY=key
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LLM_PAID=paid
ALLOWED_HOSTS=localhost:3000,127.0.0.1:3000